@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toBarLowerParent {
    padding: 7px 0;
}

.searchBox {
    padding-right: 22px;
}

.pageLink a {
    text-decoration: none;
    color: #020064;
    text-transform: uppercase;
    font-family: poppins;
    font-weight: bold;
    padding-right: 35px;
    font-size: 15px;
}

.pageLink a:hover{
    color: #007ef2;
}

.pageLink .home{
    color: #007ef2 !important;
}
.seach_Nav_Parent {
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
}

.toBarLowerParent {
    display: flex;  
    align-items: center;
}

.pageLink ul {
    list-style: none;
    display: flex;
    align-items: center;
    float: right;
}


body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.pageLink {
    flex: 2;
    text-align: right;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.topBarTop{
    background-color: #007ef2;
    color: white;
    font-size: 13px;
}

.topBarParent {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 14px;
}

.topBarParent a{
    color: white;
    text-decoration: none;
}

.topBarParent a:hover{
    color: rgb(173, 173, 173);
}

ul.socialLink {
    list-style: none;
    display: flex;
}

ul.infoList {
    list-style: none;
    display: flex;
}

.topBarLeft i {
    padding-right: 10px;
}

.topBarRight a {
    padding-left: 22px;
}

.infoList .pd_10{
    padding-left: 22px;
}

/* -----------topbarLowr---------- */
.img-fluid{
    max-width: 100%;
    height: auto;
}

.searchBox:hover, .nav_btn:hover{
    cursor: pointer;
}

.nav_btn {
    height: 40px;
    width: 40px;
    background: #007ef2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid white;
    outline: 1px solid #007ef2;
}

.nav_btn:hover {
    background: #0a0b5c;
    
}